/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
	background-image:url("../images/menu-bg.png");
	height:50px;
	width: auto;
}
#navigation ul{
	margin:0;
	padding:0;
	text-align:center;
}

#navigation li {
width:240px;	
margin-top:15px;
}
.region-navigation {
}
#navigation a{
	color: #455560;
	text-decoration:none;
	font-size:16px;
	/*font-weight:bold;*/
}

#navigation a:hover{
	color: #fff;
	
}



/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
