/**
 * @file
 * Navigation Styling
 *
 * Default menu styling (ul.menu) is defined in system-menus.css.
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
	/*float:left;*/
width:100%;
height:50px;

}
#navigation ul /* Primary and secondary links */ {
	margin: 0;
	padding: 0;
	text-align: center; /* LTR */
	color: #455560;	
	clear:left;
	float:left;
	list-style:none;
	position:relative;
	left:50%;
	background-image:url("../images/menu-bg.png");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration:none;
	padding-top:15px;
	left:50%;
	height: 50px; 
	width:100%;
	text-align: center;
}

#navigation ul li {
display:inline;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;	
}

#navigation ul li a {
   display:inline;
   margin:0 0 0 1px;
   text-decoration:none;
   /*padding:3px 10px;
   background:#ddd;
   color:#000;
   
   line-height:1.3em;*/
}



.region-navigation {
}
#navigation a {
	color: #455560;
	text-decoration:none;
	/*width:75px;*/
	}


/* unvisited link */
#navigation a:link {

	
}
/* visited link */
a:visited{
		}
/* mouse over link */
a:hover{
	color: #455560;
	font-weight:bold;
	outline-color:#FFF;
	outline-style:groove;
	outline-width:thick
		}
/* selected link */
a:active{
		} 

/*
 * Primary and Secondary menu links
 */
#main-menu {
	
width:100%;
padding:0;
margin:0;
list-style-type:none;

}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
