
#navigation ul.links {
	list-style: none;
	border: none;
	text-align:center; /* LTR */
	color: #455560;
	background-image:url("../images/menu-bg.png");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
 
}
li.expanded {
  list-style-type: circle;
  list-style-image: url(../../misc/menu-expanded.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(../../misc/menu-leaf.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}
ul.links {
	margin: 0;
	padding: 20;
	/*background-image:url(../images/menu-bg.png);*/
	height: 50px;  /*font-size: 36px;*/
}
ul.links.inline {
  display: inline;
}
ul.links li {
	display: block;
	list-style-type: none;
	padding: 0 0.5em;
	text-align: center;
	color: 455560;
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}

#main-menu {
	text-align: center;
}

#navigation
{
	text-align: center;
}

a:link {
	color: #455560;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
/*	font-size: 13px;*/
}

